/* Box sizing */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Main styles */

ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: right;
}

li {
    margin: 25px 30px 0 0;
}

h1, h2, a, p, img, li, small {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #FA7070;
    text-decoration: underline;
}

section {
    margin: 25px 0;
    height: 500px;
}

footer {
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

h1, h2, p {
    margin: 0 auto;
    text-align: center;
}

html {
    font-size: 62.5%;
}

small {
    font-size: 1.7rem;
}

h1, h2 {
    margin-top: 25px;
    font-size: 4rem;
    width: 50vw;
}

p {
    width: 50vw;
}

a, p {
    font-size: 1.7rem;
}

img {
    width: 50vw;
    border-radius: 10px;
    height: 300px;
    object-fit: cover;
}

section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

body {
    background: #FEFDED;
}

small {
    text-align: center;
}
