/* here is the link to the color pallete i used for later reference
https://colorhunt.co/palette/fa7070fefdedc6ebc5a1c398
*/

/* Box Sizing */

*, *::before, *::after {
    box-sizing: border-box;
}

/* Flexbox */

ul, footer, section {
    display: flex;
}

section {
    flex-flow: row wrap;
}

ul, footer {
    flex-flow: row nowrap;
}

section, footer {
    justify-content: center;
}

ul {
    justify-content: right;
}

/* Main Styles */

body {
    background: #fefded;
}

/* Section Styles */

section {
    margin: 25px 0;
    height: 500px;
}
/* Header Styles */

a {
    font-weight: 700;
    text-decoration: none;
    color: black;
}

a:hover {
    color: #fa7070;
    text-decoration: underline;
}

li {
    margin: 25px 30px 0 0;
}

/* Footer Styles */

footer {
    width: 100vw;
}

small {
    text-align: center;
    font-size: 1.7rem;
}

/* Image Styles */

img {
    width: 50vw;
    border-radius: 10px;
    height: 300px;
    object-fit: cover;
}

/* Typography */

html {
    font-size: 62.5%;
}

h1, h2, a, p, img, li, small {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

h1, h2, p {
    margin: 0 auto;
    text-align: center;
}

h1, h2 {
    margin-top: 25px;
    font-size: 4rem;
    font-weight: 700;
    width: 50vw;
}

p {
    color: black;
    width: 50vw;
}

a, p {
    font-size: 1.7rem;
}
